services:
  backend:
    container_name: finbot_backend
    build:
      context: ./Backend
    ports:
      - "5000:5000"
    env_file:
      - ./.env
    networks:
      - finance-net

  frontend:
    container_name: finbot_frontend
    build:
      context: ./Frontend
    ports:
      - "80:80"
    environment:
      - REACT_APP_BACKEND_URL=http://backend:5000
    depends_on:
      - backend
    networks:
      - finance-net

networks:
  finance-net:
    driver: bridge
